.form-group{
    width: 100%;
    padding-left: 1%;
}
.form-control{
	width: 25%;
	display: inline-block;
}

/* .saved-collection{
    background-color: red;
    padding-top: 15px;
} */
.search-my-saved{
    background-color: red;
    padding-top: 15px;
}

.movies{
    overflow: hidden;
    width: 100%;
}
.movie{
    float: left;
    width: 25%;
}
img.movie-img{
    height: 375px;
    width: 97%;
    margin-left: 8px;
}
img.movie-img:hover {
    filter: none;
    -webkit-filter: grayscale(30%);
    font-size: 40px;
  }
.show-movie-info{
    position: relative;
}
.show-info{
    position: absolute;
    bottom: 8px;
    color: white;
    margin: 5%;
    font-size: 20px;
}

/* .movie-description{

} */