@font-face{
    font-family: "LemonMilkbold.otf";
    src: url("../fonts/LemonMilkbold.otf");
}

.headline-nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: red;
}
.main-logo{
    font-family: "LemonMilkbold.otf";
    font-size: 30px;
    padding-left: 5%;
    padding-top: 5px;

}
.movie-collection{
    height: 100vh;
}
.if-no-movies{
    text-align: center;
    margin: 5%;
}
.search-title-all{
    padding: 1%;
}
.saved-collection{
    margin-top: 30px;
    height: 50vh;
}
.form-group{
    width: 100%;
    padding-left: 1%;
}
.form-control{
	width: 25%;
	display: inline-block;
}

/* .saved-collection{
    background-color: red;
    padding-top: 15px;
} */
.search-my-saved{
    padding-top: 36px;
}

.movies{
    overflow: hidden;
    width: 100%;
}
.movie{
    float: left;
    width: 25%;
}
img.movie-img{
    height: 375px;
    width: 97%;
    margin-left: 8px;
}
img.movie-img:hover {
    filter: none;
    -webkit-filter: grayscale(30%);
    font-size: 40px;
  }
.show-movie-info{
    position: relative;
}
.show-info{
    position: absolute;
    bottom: 8px;
    color: white;
    margin: 5%;
    font-size: 20px;
}
.search-other-movies{
    padding: 1%;
}
.imdb-movies{
    padding: 20px;
}


/* .movie-description{

} */